.cdrWritingP {
  color: #666666;
  font-family: Arial;
  font-weight: 400;
  font-size: 19px;
  text-align: justify;
}
.stepsContainer {
  background: linear-gradient(
    90deg,
    #60269e 0%,
    #4c1980 35.73%,
    #360b62 100%
  ) !important;
}
.stepsTitle:hover {
  transform: scale(1.01);
  color: rgb(129, 126, 126) !important;
  cursor: pointer;
  border-color: rgb(129, 126, 126) !important;
}

.beforeHiringCard {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

@media screen and (max-width: 540px) {
  .cdrWritingP {
    font-size: 12px;
  }
  .stepsParagraphContainer {
    padding: 30px 0px 30px 0 !important;
  }
  .stepsTitle {
    font-size: 10px;
    padding: 0 3px 5px 3px;
  }
  .stepsParagraph {
    font-size: 12px !important;
  }
  .stepeBeforeHiringTitle {
    font-size: 12px;
  }
  .beforeHiringCard {
    height: 420px !important;
  }
  .australiaGuaranteesHeadings {
    font-size: 12px;
  }
  .australiaGuaranteesParagraphs {
    font-size: 10px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .australiaGuaranteesImageContainer {
    height: 200px;
    width: 200px;
  }
  .australiaGuaranteesImage {
    width: 100%;
    height: 100%;
  }
  .moreServicesTitle {
    font-size: 12px;
  }
}
